<!DOCTYPE html>
<html lang="en">

<head>
    <title>Homepage | All Y'all!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
 <link rel="stylesheet" href="assets/css/skeleton.css"> 
        <link rel="stylesheet" type="text/css" href="assets/css/topher.css">
         
         <link rel="stylesheet" href="assets/css/responsive.css"> 
         <link rel="stylesheet" href="assets/css/normalize.css"> 
          <link rel="stylesheet" type="text/css" href="assets/css/morgan.css">  
       
        
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon-96x96.png">
</head>

<body>
  
            

            {{{ body }}}
        

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="assets/javascript/app.js"></script>


</html>