
<head>
	<script type="text/javascript" src="assets/javascript/app.js"></script>
</head> 

{{> navbar}}

<div class="container">
	<div class="jumbotron">
		<h1 id="username">Welcome {{ username }}</h1>
		<div class="container">
			<p>Thanks for joining the All Y'all community! We're here to provide you suggestions to top eats, drinks and events in Austin. Tell us what you're feeling below, and start experiencing new Austin attractions!</p> 
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Users</h2>
			<ul class="people_list">
				
                    {{#each members }}
					<form action="/main" method="POST">


                        <li>{{this}}<input type="hidden" name="id" value="{{this}}">
					
					

							<input type="submit" id="addFriend" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right" name="sendRequest{{this}}" value="Add Friend">
						</li>
					</form>
						
                    {{/each}}
					</ul>
		</div>
	</div>
</div>



