<head>
	<link rel="stylesheet" type="text/css" href="assets/css/skeleton.css">
</head>

{{> navbar}}

<div class="container">
    <div class="row">
        <div class="four columns">

            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="six columns">
                             <img class="text-center" src="uploads/{{ data.image }}" width="200px" alt="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="six columns">
                             <h2 id="userNameLoginName">{{ data.name }}</h2>
                                <p>Austin, TX</p>
                        </div>
                    </div>
                    {{!-- <div class="row">
                        <div class="ten columns">
                            <h5>Friends</h5>
                                <ul>
                                    {{#each data.friends}}
                                        <li>
                                            <img src="uploads/{{this.image}}" width="50px" height="50px" alt="">  {{this.username}}</li>
                                    {{/each}}
                                </ul>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>

        <div class="eight columns">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row" id="userNameLogin">
                        <hr>
                    </div>
                    <div class="row">
                        <div class="twelve columns text-">
                            <h4>Last Search</h4>
                            <hr>
                            <div class="twelve columns text-">
                                <h5>Food</h5>
                                    <div class="five columns thumbnail text-center">
                                        <img class="food preference-images img-responsive" data-name="Indian" id="Indian" data-state="unclicked" src="assets/img/indian.jpeg">
                                        <h3 class="food caption" data-name="Indian" data-state="unclicked" data-type="caption" id="captionIndian">Indian</h3>
                                    </div>
                                    <div class="five columns thumbnail text-center">
                                        <img class="food preference-images img-responsive" id="American" data-name="American" data-state="unclicked" src="assets/img/american.jpeg">
                                        <h3 class="food caption" data-name="American" data-state="unclicked" data-type="caption" id="captionAmerican">American</h3>
                                    </div>
                            </div>
                            <div class="twelve columns text-">
                                <h5>Drinks</h5>
                                    <div class="five columns thumbnail text-center">
                                        <img class="drinks preference-images img-responsive" id="Coffee" data-name="Coffee" data-state="unclicked" src="assets/img/coffee.jpg">
                                        <h3 class="drinks caption" data-name="Coffee" data-state="unclicked" data-type="caption" id="captionCoffee">Coffee Bar</h3>
                                    </div>
                                    <div class="five columns thumbnail text-center">
                                        <img class="drinks preference-images img-responsive" id="Brewery" data-name="Brewery" data-state="unclicked" src="assets/img/brewery.jpg">
                                        <h3 class="drinks caption" data-name="Brewery" data-state="unclicked" data-type="caption" id="captionBrewery">Brewery</h3>
                                    </div>
                            </div>
                            <div class="twelve columns text-">
                                <h5>Events</h5>
                                    <div class="five columns thumbnail text-center">
                                        <img class="events preference-images img-responsive" id="Country" data-name="Country" data-state="unclicked" src="assets/img/country.jpg">
                                        <h3 class="events caption" data-name="Country" data-state="unclicked" data-type="caption" id="captionCountry">Country</h3>
                                    </div>
                                    <div class="five columns thumbnail text-center">
                                        <img class="events preference-images img-responsive" id="Sports" data-name="Sports" data-state="unclicked" src="assets/img/sports.jpeg">
                                        <h3 class="events caption" data-name="Sports" data-state="unclicked" data-type="caption" id="captionSports">Sports</h3>
                                    </div>
                            </div>
                            
                            <br/>
                            
                            <button class="btn btn-site btn-lg pref-btn"><a style="color: inherit; text-decoration: none;" href="preferences.html">New Search</a></button>

                        </div>
                        <br>
                        <br>
                        <br>
                    
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>